<a href="https://colab.research.google.com/github/gauravpks/py-repo/blob/master/Part3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lambda

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [1]:
#Add 10 to argument a, and return the result:
x = lambda a : a + 10
print(x(5))

15

Lambda functions can take any number of arguments:

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:

In [4]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

Use that function definition to make a function that always doubles the number you send in:

In [5]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [6]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

#Python Scope

A variable is only available from inside the region it is created. This is called scope.

**Local Scope**

A variable created inside a function belongs to the local scope of that function, and can only be used inside that function.

A variable created inside a function is available inside that function:

In [7]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

**Function Inside Function**

As explained in the example above, the variable x is not available outside the function, but it is available for any function inside the function:

In [8]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

**Global Scope**

A variable created in the main body of the Python code is a global variable and belongs to the global scope.

Global variables are available from within any scope, global and local.

A variable created outside of a function is global and can be used by anyone:

In [9]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

**Naming Variables**

If you operate with the same variable name inside and outside of a function, Python will treat them as two separate variables, one available in the global scope (outside the function) and one available in the local scope (inside the function):

In [10]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

**Global Keyword**

If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.

The global keyword makes the variable global.

If you use the global keyword, the variable belongs to the global scope:

In [11]:
  global x
  x = 300

myfunc()

print(x)

200
300

If you use the global keyword, the variable belongs to the global scope:

In [14]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

**Example**

To change the value of a global variable inside a function, refer to the variable by using the global keyword:

In [13]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

#Importing Module / Packages

##DateTime

**Python Dates**

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

In [15]:
import datetime

x = datetime.datetime.now()
print(x)

2020-10-05 10:52:38.391972

In [16]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2020
Monday

**Creating Date Objects**

To create a date, we can use the datetime() class (constructor) of the datetime module.

The datetime() class requires three parameters to create a date: year, month, day.

In [17]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

The strftime() Method
The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [18]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

![image.png]()

##Python Math

Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

The min() and max() functions can be used to find the lowest or highest value in an iterable:

In [19]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25

The abs() function returns the absolute (positive) value of the specified number:

In [21]:
x = abs(-7.25)

print(x)

7.25

In [22]:
x = pow(4, 3)

print(x)

64

The Math Module
Python has also a built-in module called math, which extends the list of mathematical functions.

To use it, you must import the math module:

In [23]:
import math

x = math.sqrt(64)

print(x)

8.0

In [24]:
import math

x = math.ceil(1.4)
y = math.floor(1.4)

print(x) # returns 2
print(y) # returns 1

2
1

In [25]:
import math

x = math.pi

print(x)

3.141592653589793

**Math Methods & Method  Description**
1.	math.acos() Returns the arc cosine of a number
2.	math.acosh()  Returns the inverse hyperbolic cosine of a number
3.	math.asin() Returns the arc sine of a number
4.	math.asinh()  Returns the inverse hyperbolic sine of a number
5.	math.atan() Returns the arc tangent of a number in radians
6.	math.atan2()  Returns the arc tangent of y/x in radians
7.	math.atanh()  Returns the inverse hyperbolic tangent of a number
8.	math.ceil() Rounds a number up to the nearest integer
9.	math.comb() Returns the number of ways to choose k items from n items without repetition and order
10.	math.copysign() Returns a float consisting of the value of the first parameter and the sign of the second parameter
11.	math.cos()  Returns the cosine of a number
12.	math.cosh(x)  Returns the hyperbolic cosine of x
13.	math.degrees(x) Converts an angle from radians to degrees
14.	math.dist(p, q) Calculates the euclidean distance between two specified points (p and q), where p and q are the coordinates of that point
15.	math.erf(x) Returns the error function of x
16.	math.erfc(x)  Returns the complementary error function of x
17.	math.exp(x) Returns the value of Ex, where E is Euler's number (approximately 2.718281...), and x is the number passed to it
18.	math.expm1(x) Returns the value of Ex - 1, where E is Euler's number (approximately 2.718281...), and x is the number passed to it
19.	math.fabs(x)  Returns the absolute value of a number
20.	math.factorial()  Returns the factorial of a number
21.	math.floor(x) Rounds a number down to the nearest integer
22.	math.fmod(x, y) Returns the remainder of x/y
23.	math.frexp()  Returns the mantissa and the exponent, of a specified value
24.	math.fsum(iterable) Returns the sum of all items in an iterable (tuples, arrays, lists, etc.)
25.	math.gamma(x) Returns the gamma value of x
26.	math.gcd()  Returns the highest value that can divide two integers
27.	math.hypot()  Find the Euclidean distance from the origin for n inputs
28.	math.isclose()  Checks whether two values are close, or not
29.	math.isfinite(x)  Checks whether x is a finite number
30.	math.isinf(x) Check whether x is a positive or negative infinty
31.	math.isnan(x) Checks whether x is NaN (not a number)
32.	math.isqrt(n) Returns the nearest integer square root of n
33.	math.ldexp(x, i)  Returns the expression x * 2i where x is mantissa and i is an exponent
34.	math.lgamma(x)  Returns the log gamma value of x
35.	math.log(x, base) Returns the natural logarithm of a number, or the logarithm of number to base
36.	math.log10(x) Returns the base-10 logarithm of x
37.	math.log1p(x) Returns the natural logarithm of 1+x
38.	math.log2(x)  Returns the base-2 logarithm of x
39.	math.perm(n, k) Returns the number of ways to choose k items from n items with order and without repetition
40.	math.pow(x, y)  Returns the value of x to the power of y
41.	math.prod(iterable, *, start=1) Returns the product of an iterable (lists, array, tuples, etc.)
42.	math.radians(x) Converts a degree value (x) to radians
43.	math.remainder(x, y)  Returns the closest value that can make numerator completely divisible by the denominator
44.	math.sin(x) Returns the sine of x
45.	math.sinh(x)  Returns the hyperbolic sine of x
46.	math.sqrt(x)  Returns the square root of x
47.	math.tan(x) Returns the tangent of x
48.	math.tanh(x)  Returns the hyperbolic tangent of x
49.	math.trunc(x) Returns the truncated integer parts of x


---



---


**Math Constants & Constant  Description**
50.	math.e  Returns Euler's number (2.7182...)
51.	math.inf  Returns a floating-point positive infinity
52.	math.nan  Returns a floating-point NaN (Not a Number) value
53.	math.pi Returns PI (3.1415...)
54.	math.tau  Returns tau (6.2831...)