<a href="https://colab.research.google.com/github/gauravpks/py-repo/blob/master/Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Collections (Arrays)


There are four collection data types in the Python programming language:

1. List is a collection which is ordered and changeable. Allows duplicate members.
2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
3. Set is a collection which is unordered and unindexed. No duplicate members.
4. Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

#List

List
A list is a collection which is ordered and changeable. In Python lists are written with square brackets.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

You access the list items by referring to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes
You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

This example returns the items from the beginning to "orange":

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

This example returns the items from "cherry" and to the end:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Specify negative indexes if you want to start the search from the end of the list:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-2])

['orange', 'kiwi']

To change the value of a specific item, refer to the index number:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Check if "apple" is present in the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

Print the number of items in the list:

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

Using the append() method to append an item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

To add an item at the specified index, use the insert() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

The remove() method removes the specified item:

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

The pop() method removes the specified index, (or the last item if index is not specified):

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword removes the specified index:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely:

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist

Make a copy of a list with the copy() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Make a copy of a list with the list() method:

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Join two list:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists are by appending all the items from list2 into list1, one by one:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Use the extend() method to add list2 at the end of list1:

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

#Tuples

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

You can access tuple items by referring to the index number, inside square brackets:

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

**Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
x = ("apple", "banana", "cherry")
#y = list(x)
x[1] = "kiwi"
#x = tuple(y)

print(x)

TypeError: ignored

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

To determine if a specified item is present in a tuple use the in keyword:

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [ ]:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: ignored

In [ ]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

To join two or more tuples you can use the + operator:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#Set

A set is a collection which is unordered and unindexed. In Python, sets are written with curly brackets.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

Sets are unordered, so you cannot be sure in which order the items will appear.

In [4]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [5]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [6]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'banana', 'cherry', 'orange', 'grapes', 'mango', 'apple'}

To determine how many items a set has, use the len() method.

In [7]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

To remove an item in a set, use the remove(), or the discard() method.

In [8]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

Remove "banana" by using the discard() method:

In [9]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

You can also use the pop(), method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [10]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

The clear() method empties the set:

In [11]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

The del keyword will delete the set completely:

In [12]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: ignored

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

The union() method returns a new set with all items from both sets:

In [13]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

The update() method inserts the items in set2 into set1:

In [14]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

#Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [15]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [16]:
x = thisdict["model"]

There is also a method called get() that will give you the same result:

In [17]:
x = thisdict.get("model")

You can change the value of a specific item by referring to its key name:

In [18]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [20]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [21]:
print(len(thisdict))

3

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [22]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

The pop() method removes the item with the specified key name:

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

The del keyword removes the item with the specified key name:

In [25]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The del keyword can also delete the dictionary completely:

In [26]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: ignored

The clear() method empties the dictionary:

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Make a copy of a dictionary with the copy() method:

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Make a copy of a dictionary with the dict() function:

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries
A dictionary can also contain many dictionaries, this is called nested dictionaries.

Create a dictionary that contain three dictionaries:

In [31]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

In [33]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

#While Loops

Python has two primitive loop commands:

1. while loops
2. for loops

With the while loop we can execute a set of statements as long as a condition is true.

In [34]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

**The break Statement**
With the break statement we can stop the loop even if the while condition is true:

In [35]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

**The continue Statement**
With the continue statement we can stop the current iteration, and continue with the next:

In [36]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**The else Statement**
With the else statement we can run a block of code once when the condition no longer is true:

In [37]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#For Loop

**Python For Loops**
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

Print each fruit in a fruit list:

In [38]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Loop through the letters in the word "banana":

In [39]:
for x in "banana":
  print(x)

b
a
n
a
n
a

Exit the loop when x is "banana":

In [40]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

Exit the loop when x is "banana", but this time the break comes before the print:

In [41]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

**The range() Function**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [42]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [43]:
for x in range(2, 6):
  print(x)

2
3
4
5

Increment the sequence with 3 (default is 1):

In [44]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

Else in For Loop
The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [45]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

**Nested Loops**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [46]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**The pass Statement**

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [47]:
for x in [0, 1, 2]:
  pass