<a href="https://colab.research.google.com/github/gauravpks/py-repo/blob/master/Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python-------- Gaurav Prakash

# This is Python Tutorial

This is our first program in python: It is just started here

In [ ]:
print("Hellow World")

*What is Python?*
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

*It is used for:*
*   web development (server-side),
*   software development,
*   mathematics,
*   system scripting.

*What can Python do?*
* Python can be used on a server to create web applications.
* Python can be used alongside software to create workflows.
* Python can connect to database systems. It can also read and modify files.
* Python can be used to handle big data and perform complex mathematics.
* Python can be used for rapid prototyping, or for production-ready software development.

*Why Python?*
* Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
* Python has a simple syntax similar to the English language.
* Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
* Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
* Python can be treated in a procedural way, an * object-orientated way or a functional way.

*Good to know*
* The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
* In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.

*Python Syntax compared to other programming languages*
* Python was designed for readability, and has some similarities to the English language with influence from mathematics.
* Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
* Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

# Variables

*What is a variable??*

---


Variables are the names you give to computer memory locations which are used to store values in a computer program

**Creating Variables**

*   Variables are containers for storing data values.
*   Unlike other programming languages, Python has no command for declaring a variable.
*   LA variable is created the moment you first assign a value to it.

In [ ]:
x = 3
print(x)

In [ ]:
#To check which all variables are available
%whos

In [ ]:
#Check type of data
print(type(x))

In [53]:
x = 5.7

In [ ]:
%whos

In [ ]:
print(type(x))

In [56]:
abcd = 556.32

In [ ]:
%whos

Python allows you to assign values to multiple variables in one line:

In [58]:
a,b,c,d,f = 3,5,6.0,7.2,-3

And you can assign the same value to multiple variables in one line:

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
%whos

In [61]:
del abcd

In [ ]:
%whos

In [ ]:
print(abcd)

In [64]:
c = 2+4j

In [ ]:
print(type(c))

String variables can be declared either by using single or double quotes:

In [66]:
s = "hello how are you"

In [ ]:
print(type(s))

Variables do not need to be declared with any particular type and can even change type after they have been set

In [ ]:
x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

*Variable Names*
* A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
2myvar = "John"
my-var = "John"
my var = "John"

Output Variables
The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " + x)

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

In [ ]:
x = 5
y = 10
print(x + y)

In [ ]:
x = 5
y = "John"
print(x + y)

#Numbers

There are three numeric types in Python:

* int
* float
* complex

Variables of numeric types are created when you assign a value to them:

In [74]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
print(type(x))
print(type(y))
print(type(z))

**Int**
* Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

**Float**
* Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [ ]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

**Complex**
* Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

**Type Conversion**

> You can convert from one type to another with the int(), float(), and complex() methods:

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

**Random Number**
* Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [ ]:
import random

print(random.randrange(1, 10))

#Casting

**Specify a Variable Type**
* There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

* Casting in python is therefore done using constructor functions:
1. int() - constructs an integer number from an integer literal, a float literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number)
2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [82]:
#Integer
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [83]:
#Floats
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [84]:
#String
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

#Strings

**String Literals**
* String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [ ]:
print("Hello")
print('Hello')

**Assign String to a Variable**
* Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Multiline Strings
* You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Or three single quotes:

In [88]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

#Comments

* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

Multi Line Comments
Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

# Operators

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

1. Arithmetic operators
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

**Python Arithmetic Operators**
* Arithmetic operators are used with numeric values to perform common mathematical operations:

![AO.PNG]()

**Python Assignment Operators**
* Assignment operators are used to assign values to variables:

![oo.PNG]()

**Python Comparison Operators**
* Comparison operators are used to compare two values:

![CO.PNG]()

**Python Logical Operators**
* Logical operators are used to combine conditional statements:

![image.png]()

**Python Identity Operators**
* Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

![image.png]()

In [ ]:
%whos

In [95]:
A= 2
B= 3
sumOfaAndb = A+B

In [ ]:
print(sumOfaAndb)

In [ ]:
type(sumOfaAndb)

In [ ]:
type(A+d)

In [101]:
v = ((A+d)**3)/4

In [ ]:
print(v)

In [ ]:
s1 = "hellow"
s2 = "world"
s = s1+s2
print(s)

In [ ]:
10//3

In [ ]:
10/3

_ returns the value of last executed expression value in Python Prompt/Interpreter

In [ ]:
_

In [ ]:
3x = 5

In [ ]:
@y=4

In [ ]:
*t=4

In [111]:
_e = 6

In [113]:
startingTimeOfTheCourse = 2.0

In [ ]:
%whos

# Bool

In [ ]:
a = True
b = True
c = False

In [ ]:
%whos

Variable                  Type     Data/Info
--------------------------------------------
a                         bool     True
b                         bool     True
c                         bool     False
d                         float    7.2
f                         int      -3
s                         str      hellowworld
s1                        str      hellow
s2                        str      world
startingTimeOfTheCourse   float    2.0
sumOfaAndb                int      8
v                         float    265.30199999999996
x                         float    5.7

In [ ]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [ ]:
d = a or c
print(d)

True

In [ ]:
not(a)

False

In [ ]:
not(b)

False

In [ ]:
not(c)

True

In [ ]:
t = not(d)

In [ ]:
type(t)

bool

In [ ]:
print(t)

False

In [ ]:
not((a and b) or (c or d))

False

# Comparisons

In [ ]:
print(2<3)

True

In [ ]:
c = 2<3
print(type(c))
print(c)

<class 'bool'>
True

In [ ]:
d = 3==4

In [ ]:
print(d)

False

In [ ]:
3==3.0

True

In [ ]:
x = 4
y = 9
z = 8.3
r = -3

In [ ]:
(x<y) and (z<y) or (r==x)

True

In [ ]:
(r==x) and (x<y) or (z>y)

False

In [ ]:
(True or False) and False

False

In [ ]:
print((not(2!=3) and True) or (False and True))

False

In [ ]:
print(round(4.556))

5

In [ ]:
print(round(4.345))

4

In [ ]:
print(round(4.556389,3))

4.556

In [ ]:
B = divmod(27,5)

In [ ]:
type(B)

tuple

In [ ]:
print(B)

(5, 2)

In [ ]:
B[0]

5

In [ ]:
B[1]

2

In [ ]:
divmod(22,10)

(2, 2)

In [ ]:
G = divmod(34,9)

In [ ]:
type(G)

tuple

In [ ]:
print(G)

(3, 7)

In [ ]:
G[0]

3

In [ ]:
G[1]

7

In [ ]:
34//9

3

In [ ]:
34%9

7

In [ ]:
isinstance(3,int)

True

In [ ]:
isinstance(3.4,(float,int))

True

In [ ]:
isinstance(2+3j,(int,float,str,complex))

True

In [ ]:
pow(2,4)

16

In [ ]:
2**4

16

In [ ]:
pow(2,4,7)

2

In [ ]:
x = input("Enter a number :")

Enter a number :56

In [ ]:
type(x)

str

In [ ]:
x = int(x)

In [ ]:
type(x)

int

In [ ]:
print(x-34)

22

In [ ]:
a = float(input("Enter a real number :"))

Enter a real number :12.5

In [ ]:
type(a)

float

In [ ]:
b = float(input("Enter a real number : "))

Enter a real number : abc

ValueError: could not convert string to float: 'abc'

In [ ]:
help(pow)

Help on built-in function pow in module builtins:

pow(x, y, z=None, /)
    Equivalent to x**y (with two arguments) or x**y % z (with three arguments)

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [ ]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [ ]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("I am still inside if condition")
print("I am outside the if condition")

10
45
I am outside the if condition

In [ ]:
a = int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

22
4
22

In [ ]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("if part")
else:
    print(b)
    print("else part")

10
10
10
else part

In [ ]:
a = 10
b = 10
if a==b:
    print("Equal")
elif a>b:
    print("A")
else:
    print("B")
print("Not in if")

Equal
Not in if

In [ ]:
a = int(input("Enter Marks :"))
if a >= 85:
    print("A Grade")
elif (a < 85) and (a >= 80):
    print("A- Grade")
elif a < 80 and a >= 75:
    print("B Grade")
elif a < 75 and a >= 70:
    print("B- Grade")
else:
    print("Below Average")

Enter Marks :64
Below Average

In [ ]:
a = 13
if a>10:
    print(">10")
elif not(a>10):
    print("Else part")

>10

In [ ]:
a = int(input())
if a>10:
    print(">10")
    print("Inside the top if")
    if a>20:
        print(">20")
        print("Inside the nested if")
        if a>30:
            print(">30")
            print("inside the nested if of nested if")
        else:
            print("<=30")
            print("inside the else part of nested if of nested if")
    else:
        print("<=20")
        print("Inside the else part of nested if")
print("Outside all ifs")

25
>10
Inside the top if
>20
Inside the nested if
<=30
inside the else part of nested if of nested if
Outside all ifs

In [ ]:
# single line comment
""" 
User will enter a floating point number let say 238.915. Your task
is to find out the integer portion before the point (in this case 238)
and then check if that integer portion is an even number or not?
"""
x = float(input("Enter a real number :"))
y = round(x)
if x>0:    
    if y>x:
        intPortion = y-1 # 29.6
    else:
        intPortion = y
else:
    if y<x:
        intPortion = y+1
    else:
        intPortion = y

if intPortion%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a real number :-87.3
Odd

In [ ]:
round(-9.3)

-9

In [ ]:
round(-9.6)

-10

In [ ]:
n = int(input())
i = 1
while i < n:
    print(i**2)
    print("This is iteration number :", i)
    i+=1 # i = i+1
print("Loop done")

5
1
This is iteration number : 1
4
This is iteration number : 2
9
This is iteration number : 3
16
This is iteration number : 4
Loop done

In [ ]:
n = 10
i = 1
while True:
    if i%9 == 0:
        print("Inside if")
        break
    else:
        print("inside Else")
        i = i+1 # i+=1
print("done")

inside Else
inside Else
inside Else
inside Else
inside Else
inside Else
inside Else
inside Else
Inside if
done

In [ ]:
n = 10
i = 1
while True:
    if i%9 != 0:
        print("inside if")
        i +=1
        continue
    print("something")
    print("somethingelse")
    break
    
print("done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
something
somethingelse
done

In [ ]:
L = []
for i in range(1,20,3):
    print(i)
    L.append(i**2)
print(L)

1
4
7
10
13
16
19
[1, 16, 49, 100, 169, 256, 361]

In [ ]:
S = {"apple",4.9,"cherry"}
i = 1
for x in S:
    print(x)
    i+=1
    if i==3:
        break
    else:
        pass
else:
    print("Loop terminates with success")
print("Out side the loop")

apple
4.9
Out side the loop

In [ ]:
D = {"A":10,"B":-19,"C":"abc"}
for x in D:
    print(x,D[x])

A 10
B -19
C abc

In [ ]:
""" Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your 
result will be another list like [-5,1,2,2,3,7,9]
"""
L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j,len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c+=1    
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

In [ ]:
L

[-5, 2, 4, 1, 7, 9, 3, 2]

In [ ]:
def printSuccess():
    print("I am done")
    print("send me another task")

In [ ]:
printSuccess()

I am done
send me another task

In [ ]:
3+8

11

In [ ]:
printSuccess()

I am done
send me another task

In [ ]:
def printSuccess2():
    """ This function is doing nothing except printing a message.
    That message is "hellow"
    """ 
    print("hellow")

In [ ]:
help(printSuccess2)

Help on function printSuccess2 in module __main__:

printSuccess2()
    This function is doing nothing except printing a message.
    That message is "hellow"

In [ ]:
printSuccess2()

hellow

In [ ]:
def printMsg(msg):
    """ The function prints the message supplied by the user
    or prints that msg is not in the form of string"""
    
    if isinstance(msg,str):
        print(msg)
    else:
        print("Your input argument is not a string")
        print("Here is the type of what you have supplied :",type(msg))

In [ ]:
help(printMsg)

Help on function printMsg in module __main__:

printMsg(msg)
    The function prints the message supplied by the user
    or prints that msg is not in the form of string

In [ ]:
printMsg?

In [ ]:
printMsg("This is the message")

This is the message

In [ ]:
printMsg(23)

Your input argument is not a string
Here is the type of what you have supplied : <class 'int'>

In [ ]:
y = "hellow there"
printMsg(y)

hellow there

In [ ]:
def mypow(a,b):
    """ this function computes power just like builtin pow function"""
    c = a**b
    print(c)

In [ ]:
mypow?

In [ ]:
mypow(3,4)

81

In [ ]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else:
        print("Error: the input arguements are not of the expected types")

In [ ]:
checkArgs(3,4,5)

144

In [ ]:
checkArgs(3,4,"g")

Error: the input arguements are not of the expected types

In [ ]:
checkArgs(3,4)

TypeError: checkArgs() missing 1 required positional argument: 'c'

In [ ]:
checkArgs(2,3,4,5)

TypeError: checkArgs() takes 3 positional arguments but 4 were given

In [ ]:
def f(a,b,c):
    print("A is :",a)
    print("B is :",b)
    print("C is :",c)

In [ ]:
#f(2,3,"game")
f(3,"game",2)

A is : 3
B is : game
C is : 2

In [ ]:
#f(a = 2,b=3,c="game")
f(c="game",a=2,b=3)

A is : 2
B is : 3
C is : game

In [ ]:
def myadd(a,b):
    sumValue = a+b
    return sumValue

In [ ]:
d = myadd(2,3)
print(d)

5

In [ ]:
variableOutSideTheFunction = 3

In [ ]:
def g():
    variableOutSideTheFunction = 5
    #print(variableOutSideTheFunction)

In [ ]:
print(type(g()))

<class 'NoneType'>

In [ ]:
print(variableOutSideTheFunction)

3

In [ ]:
def h():
    print("A")
    a = 3
    b = 5
    c = a+b
    print("something")
    return c
    print("B")
    print("C")

In [ ]:
print(type(h()))

A
something
<class 'int'>

In [ ]:
def r():
    a = 5
    b = 7
    d = "something"
    return a,b,d

In [ ]:
x,y,z = r()
print(x,y,z)

5 7 something

In [ ]:
def myAddUniversal(*args):
    s = 0
    for i in range(len(args)):
        s += args[i] # s = s+args[i]
    return s

In [ ]:
print(myAddUniversal(2,4,5,4.6,78))

93.6

In [ ]:
def printAllVariableNamesAndValues(**args):
    for x in args:
        print("Variable Name is :",x," And Value is :",args[x])

In [ ]:
printAllVariableNamesAndValues(a = 3,b="B",c="CCC",y=6.7)

Variable Name is : a  And Value is : 3
Variable Name is : b  And Value is : B
Variable Name is : c  And Value is : CCC
Variable Name is : y  And Value is : 6.7

In [ ]:
def gg(s=4):
    print(s)

In [ ]:
gg()

4

In [ ]:
gg(56)

56

In [ ]:
L = [1,2,3]
L2 = L
L2[0] = -9
print(L)

[-9, 2, 3]

In [ ]:
def ff(L=[1,2]):
    for i in L:
        print(i)

In [ ]:
L2 = [12,3,4]
ff()

1
2

In [ ]:
ff(L2)

12
3
4

In [ ]:
ff()

1
2

In [ ]:
import sys
sys.path.append('C:/ABC/')

In [ ]:
import my_universal_functions as myfs
#from my_universal_functions import addAllNumerics

In [ ]:
d = addAllNumerics(2,3,4,5,6,7)
print(d)

27

In [ ]:
c = myfs.addAllNumerics(2,3,4,6)

In [ ]:
print(c)

15

In [ ]:
myfs.myName

'Python Course'

In [ ]:
""" Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your 
result will be another list like [-5,1,2,2,3,7,9]
"""

' Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], make another list\nthat contains all the items in sorted order from min to max. i.e. your \nresult will be another list like [-5,1,2,2,3,7,9]\n'

In [ ]:
def findMin(L,startIndx):
    m = L[startIndx]
    idx = startIndx    
    for i in range(startIndx,len(L)):
        x = L[i]
        if x<m:
            m = x
            idx = i
        else:
            pass                
    return m,idx

In [ ]:
a,b = findMin([2,3,4,0,9])

In [ ]:
print(a,b)

0 3

In [ ]:
def swapValues(L,idx1,idx2):
    tmp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = tmp
    return L

In [ ]:
L = [2,3,6,7]
L2 = swapValues(L,1,3)
print(L2)

[2, 7, 6, 3]

In [ ]:
from my_universal_functions import checkIfNotNumeric
def sortList(L):
    if not(checkIfNotNumeric2(L)):
        print("Error: List does not contain numeric values")
        return
    else:
        c = 0
        for x in L:
            m,idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c+=1
    return L

In [ ]:
L2 = sortList([2,1,5,3,-8,17])
print(L2)

[-8, 1, 2, 3, 5, 17]

In [ ]:
checkIfNotNumeric??

In [ ]:
print(checkIfNotNumeric2([2,1,5,3,8,17]))

True

In [ ]:
def checkIfNotNumeric2(L):    
    for x in L:
        if not(isinstance(x,(int,float))):
            return False
    return True

In [ ]:
s = "Python is a good language"
t = 'Its good for data science'

In [ ]:
type(s)

str

In [ ]:
print(s)

Python is a good language

In [ ]:
print("hellow",12,"hellow2",'who are you',5.9)

hellow 12 hellow2 who are you 5.9

In [ ]:
v = s+" "+t
print(v)

Python is a good language Its good for data science

In [ ]:
price = 12
s = "The price of this book"
v = s + ' is: ' + str(price)
print(v)
print(s,"is:",price)

The price of this book is: 12
The price of this book is: 12

In [ ]:
a = """this is line 1
this is line 2
this is last line and this line is 3"""
print(a)

this is line 1
this is line 2
this is last line and this line is 3

In [ ]:
print(""" The following options are available:
            -a       : does nothing
            -b       : also does nothing
""")

 The following options are available:
            -a       : does nothing
            -b       : also does nothing

In [ ]:
s = "How are you and who are you"
print(s[5])

r

In [ ]:
type(s[5])

str

In [ ]:
s[0:10]

'How are yo'

In [ ]:
s[-1]

'u'

In [ ]:
s[-3]

'y'

In [ ]:
s[-12:-3]

' who are '

In [ ]:
s[1] = "e"

TypeError: 'str' object does not support item assignment

In [ ]:
s[0:12:2]

'Hwaeyu'

In [ ]:
s

'How are you and who are you'

In [ ]:
#s[start:end:step]
s[:12]

'How are you '

In [ ]:
s[3:]

' are you and who are you'

In [ ]:
s[1:12]

'ow are you '

In [ ]:
s[::-1]

'uoy era ohw dna uoy era woH'

In [ ]:
a = "    abc def     hgq asdfaf     "
b = a.strip()
print(b)

abc def     hgq asdfaf

In [ ]:
a = "ABC deFg ;; sadfa QF"
b = a.lower()
print(b)

abc defg ;; sadfa qf

In [ ]:
c = a.upper()
print(c)

ABC DEFG ;; SADFA QF

In [ ]:
d = a.replace(";","*")
print(d)

ABC deFg ** sadfa QF

In [ ]:
d = a.replace(";","**&&^^%%")
print(d)

ABC deFg **&&^^%%**&&^^%% sadfa QF

In [ ]:
d = a.replace(";;","two semi colons")
print(d)

ABC deFg two semi colons sadfa QF

In [ ]:
a = "abc;def;hgydfa;yy23"
L = a.split(";")
print(L)

['abc', 'def', 'hgydfa', 'yy23']

In [ ]:
L[1]

'def'

In [ ]:
print(a.capitalize())

Abc;def;hgydfa;yy23

In [ ]:
"abdAfadfGGQ".capitalize()

'Abdafadfggq'

In [ ]:
help(a.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [ ]:
"abc" in "asdfafdjabcl;jfdopasdfoajfd;la"

True

In [ ]:
"abc" == "abc"

True

In [ ]:
"abcdefghi"<"def"

True

In [ ]:
"$%"<"*&"

True

In [ ]:
print("we are learning "string" here")

SyntaxError: invalid syntax (<ipython-input-158-439afcb22d48>, line 1)

In [ ]:
print("we are learning \"string\" here")

we are learning "string" here

In [ ]:
print('we are learing "string" here')

we are learing "string" here

In [ ]:
print("we are \t now on another line")

we are 	 now on another line

In [ ]:
print("c:\name\drive")

c:
ame\drive

In [ ]:
print(r"c:\name\drive")

c:\name\drive





---


Notbook prepared using https://www.w3schools.com/ and open source platfrom 


---